---
import Metadata from "../../components/Metadata.astro";
import Layout from "../../layouts/Layout.astro";

const title = "About";
---

<Metadata
  title={title}
  author="Colin McCulloch"
  description="About Colin McCulloch and Zyzle.dev"
  keywords="Zyzle, Colin McCulloch, about"
  type="website"
/>

<Layout>
  <article class="prose prose-invert prose-zyzle mx-auto mb-6">
    <h1 class="text-zgold">{title}</h1>
    <p>
      This site is maintained by me, Colin "Zyzle" McCulloch and licensed under <a
        href="https://creativecommons.org/licenses/by-sa/4.0/"
        >Creative Commons Attribution-ShareAlike 4.0</a
      > the source for this site can be found in its <a
        href="https://github.com/Zyzle/zyzle.dev"
        target="_blank">GitHub repository</a
      >.
    </p>
    <p>Other places to find me on the web:</p>
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/colinmcculloch" target="_blank"
          >LinkedIn</a
        >
      </li>
      <li>
        <a href="https://www.instagram.com/zyzle2501/" target="_blank"
          >Instagram</a
        >
      </li>
      <li>
        <a href="https://flickr.com/photos/zyzle/" target="_blank">Flickr</a>
      </li>
      <li>
        <a href="https://linktr.ee/zyzle" target="_blank">LinkTree</a>
      </li>
    </ul>
    <p>This website uses the following fonts:</p>
    <ul>
      <li>
        <a href="https://github.com/tonsky/FiraCode" target="_blank"
          >Fira Code</a
        >
      </li><li>
        <a href="https://github.com/googlefonts/nunito" target="_blank"
          >Nunito</a
        >
      </li><li>
        <a href="https://github.com/googlefonts/Pacifico" target="_blank"
          >Pacifico</a
        >
      </li>
    </ul>
    <p>
      all of which are available under the Open Font License (OFL) details of
      which can be found <a href="/OFL.txt" target="_blank">here</a>
    </p>
    <p>
      The primary colour icons are from the <a
        href="https://dohliam.github.io/elegant-circles/"
        target="_blank">Elegant Circles</a
      > repository and are licensed under the GPL
    </p>
    <p>
      CC icons are provided by <a
        href="https://www.flaticon.com/free-icons/cc"
        target="_blank">Freepik</a
      >
    </p>
  </article>
</Layout>
