@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin '@tailwindcss/forms';
@config "../../tailwind.config.js";

@import "@skeletonlabs/skeleton";
@import "@skeletonlabs/skeleton/optional/presets";
@source '../../node_modules/@skeletonlabs/skeleton-react/dist';
@import "@skeletonlabs/skeleton/themes/cerberus";

@theme {
  --font-sans: "Nunito Variable", sans-serif;
  --font-mono: "Fira Code Variable", monospace;
  --color-transparent: "transparent";
  --color-current: "currentColor";
  --color-zdefault: oklch(0.7621 0.0202 262.99);
  --color-zbackground: oklch(0.2741 0.0368 283.71);
  --color-zlime: oklch(0.7683 0.1103 133);
  --color-zpurple: oklch(0.6936 0.1635 318.21);
  --color-zpink: oklch(0.6709 0.1448 17);
  --color-zbrown: oklch(0.7273 0.0949 63.82);
  --color-zgold: oklch(0.8249 0.097 82.26);
  --color-zcaret: oklch(0.6562 0.1826 262.74);
  --color-zblue: oklch(0.7304 0.1213 245.3);
  --color-zcyan: oklch(0.7231 0.0916 206.31);
  --color-zcomment: oklch(0.4983 0.0225 262.91);
  --color-zblock: oklch(0.2925 0.0157 264.3);
}

.c-breadcrumbs__link {
  color: var(--color-zpurple);
}

html[data-mode="dark"] {
  --docsearch-text-color: var(--color-zdefault);
  --docsearch-secondary-text-color: var(--color-zcomment);
  --docsearch-subtle-color: #212139;
  --docsearch-error-color: var(--color-zpink);
  --docsearch-success-color: rgba(67, 160, 71, 0.2);
  --docsearch-highlight-color: var(--color-zcaret);
  --docsearch-focus-color: #9ac8ff;
  --docsearch-background-color: var(--color-zbackground);
  --docsearch-icon-color: #b6b7d5;
  --docsearch-container-background: var(--color-zbackground);
  --docsearch-modal-background: #15172a;
  --docsearch-modal-shadow: inset 1px 1px 0 0 #2c2e40, 0 3px 8px 0 #000309;
  --docsearch-searchbox-background: #000000a6;
  --docsearch-searchbox-focus-background: #000000a6;
  --docsearch-hit-color: #bec3c9;
  --docsearch-hit-shadow: none;
  --docsearch-hit-background: #090a11;
  --docsearch-key-background: #36395a;
  --docsearch-key-color: #b6b7d5;
  --docsearch-key-pressed-shadow: inset 0 2px 4px rgba(12, 13, 20, 0.4);
  --docsearch-footer-background: #000000a6;
  --docsearch-footer-shadow: inset 0 1px 0 0 rgba(73, 76, 106, 0.5),
    0 -4px 8px 0 rgba(0, 0, 0, 0.2);
  --docsearch-logo-color: #fff;
  --docsearch-muted-color: #7f8497;
  --shimmer-bg: linear-gradient(
    90deg,
    #e0e3e8 0%,
    var(--docsearch-muted-color) 20%,
    var(--docsearch-muted-color) 60%,
    #e0e3e8 95%
  );
}
