@tailwind base;
@tailwind components;
@tailwind utilities;

.prose pre[data-line-numbers='true']:not([data-lang='plaintext']) [data-line-number]:before {
	background-color: var(--color-zblock);
	color: var(--color-zgold);
	content: attr(data-line-number);
	display: inline-block;
	left: 0;
	padding-left: 0;
	padding-right: 1rem;
	position: sticky;
	text-align: right;
	width: 3rem;
}
