---
import Metadata from "../../components/Metadata.astro";
import TagCloud from "../../components/TagCloud.astro";
import Layout from "../../layouts/Layout.astro";

const title = "Tags";
---

<Metadata
  title={title}
  author="Colin McCulloch"
  description="A collection of tags used in the articles on this site."
  keywords="tags, articles"
  type="website"
/>

<Layout>
  <h1 class="text-zgold text-4xl font-bold my-4">{title}</h1>
  <div class="prose prose-invert prose-zyzle mx-auto mb-6 lg:text-lg">
    <p>A collection of tags used in the articles on this site.</p>
  </div>
  <TagCloud />
</Layout>
