---
import By from "../assets/by.svg";
import Cc from "../assets/cc.svg";
import Sa from "../assets/sa.svg";
---

<footer class="w-full border-t border-zcaret">
  <div
    class="flex flex-row justify-between mt-5 prose prose-invert prose-zyzle mx-auto px-4 lg:text-lg"
  >
    <nav class="not-prose">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
        <li>
          <a href="/projects/">Projects</a>
        </li>
        <li>
          <a href="/snippets/">Snippets</a>
        </li>
        <li>
          <a href="/about/">About</a>
        </li>
      </ul>
    </nav>
    <div class="max-w-[200px] text-right">
      <div class="flex flex-row justify-end gap-2 not-prose">
        <img
          src={Cc.src}
          alt="creative commons"
          width="30"
          height="30"
          loading="lazy"
        />
        <img
          src={By.src}
          alt="attribution"
          width="30"
          height="30"
          loading="lazy"
        />
        <img
          src={Sa.src}
          alt="share alike"
          width="30"
          height="30"
          loading="lazy"
        />
      </div>
      <p>
        Licensed under{" "}
        <a
          href="https://creativecommons.org/licenses/by-sa/4.0/"
          target="_blank"
          rel="noreferrer"
        >
          Creative Commons Attribution-ShareAlike 4.0
        </a>
      </p>
      <div id="wcb" class="carbonbadge"></div>
      <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer
      ></script>
    </div>
  </div>
</footer>
