---
import Metadata from "../../components/Metadata.astro";
import Layout from "../../layouts/Layout.astro";

const title = "Projects";
---

<Metadata
  title={title}
  author="Colin McCulloch"
  description="A collection of my projects"
  keywords="projects, work, portfolio"
  type="website"
/>

<Layout>
  <h1 class="text-3xl font-bold mb-6 text-zgold">{title}</h1>
  <div class="prose prose-invert prose-zyzle mx-auto mb-6">
    <p>
      Under construction, in the mean time checkout <a
        href="https://github.com/Zyzle">my github profile</a
      > for what I've been working on recently.
    </p>
  </div>
</Layout>
