---
import { Breadcrumbs } from "astro-breadcrumbs";
import "astro-breadcrumbs/breadcrumbs.css";

import "@fontsource-variable/fira-code";
import "@fontsource-variable/nunito";
import "@fontsource/pacifico";

import Analytics from '@vercel/analytics/astro';
import SpeedInsights from '@vercel/speed-insights/astro';

import "../styles/global.css";
import Footer from "../components/Footer.astro";
import ScrollProgress from "../components/ScrollProgress.astro";
import { Search } from "../components/Search";

const { showScroll } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full" data-theme="cerberus">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" href="/favicon-16x16.png" sizes="16x16" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Zyzle.dev"
      href={new URL("feed.xml", Astro.site)}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <Analytics />
  </head>
  <body class="w-full min-h-full flex flex-col bg-zbackground font-sans">
    <header
      class="relative backdrop-blur flex-none flex items-center lg:fixed lg:w-full lg:top-0 lg:left-0 lg:z-30 px-4 py-5 justify-between"
    >
      <a href="/">
        <span class="text-zpink text-3xl font-[Pacifico]">Zyzle.dev</span>
      </a>
      <Search client:load />
    </header>
    {showScroll && <ScrollProgress />}
    <main class="flex-1 relative lg:mt-20 px-4 lg:text-lg">
      <div class="container mx-auto max-w-prose">
        <div class="prose prose-invert prose-zyzle mb-4">
          <Breadcrumbs>
            <svg
              slot="index"
              aria-label="Home Page"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z">
              </path><polyline points="9 22 9 12 15 12 15 22"></polyline>
              <title>Home</title>
            </svg>
            <svg
              slot="separator"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><polyline points="9 18 15 12 9 6"></polyline>
            </svg>
            <svg
              slot="ellipsis"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              ><circle cx="12" cy="12" r="1"></circle><circle
                cx="19"
                cy="12"
                r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg
            >
          </Breadcrumbs>
        </div>
        <slot />
      </div>
    </main>
    <Footer />
    <SpeedInsights />
  </body>
</html>

<style is:global>
  .DocSearch-Button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    height: 2.5rem;
    font-size: var(--prose-text-xl);
  }

  .DocSearch-Button-Container svg {
    color: var(--color-zdefault);
  }

  .DocSearch-Button-Placeholder {
    color: var(--color-zdefault);
  }

  .DocSearch-Button-Key {
    background: var(--color-zbackground);
    color: var(--color-zgold);
    font-weight: 800;
    border: 1px solid var(--color-zcaret);
  }

  .DocSearch-Modal {
    background: var(--color-zbackground);
    border-radius: var(--radius-2xl);
    overflow: hidden;
  }
</style>
